<div class="container-fluid">
  <h2>Change Master Password</h2>
  <br>
  <div class="form-horizontal">
      <div class="control-group">
          <label class="control-label">Old Password: </label>
          <div class="controls">
              <input name="oldpassword" size="30" type="text" />
          </div>
        </div>

      <div class="control-group">
          <label class="control-label">New Password: </label>
          <div class="controls">
              <input name="newpassword" size="30" type="password" />
          </div>
      </div>

      <div class="control-group">
          <label class="control-label">Confirm New Password: </label>
          <div class="controls">
              <input name="confirm" size="30" type="password" />
          </div>
        
      </div>
</div>
      <div>
          <button class="btn btn-primary" id="new-wallet-continue">Continue</button>
      </div>
