<div class="container-fluid">
  <h2>Edit Currency Contract's Label</h2>
  <div class="form-horizontal">
      <div class="control-group">
          <label class="control-label">Old Asset Label: </label>
          <div class="controls">
              <input name="oldassetlabel" size="30" type="text" />
          </div>
        </div>

      <div class="control-group">
          <label class="control-label">New Asset Label: </label>
          <div class="controls">
              <input name="newassetlabel" size="30" type="text" />
          </div>
      </div>

  </div>
      <div>
          <button class="btn btn-primary" id="new-wallet-continue">Continue</button>
      </div>
