<div class="container-fluid">
  <div class="span-4">
    <h2>Choose a server</h2>
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">Server:</label>
        <div class="controls">
          <select id="server" name="server">
            <option selected="selected">VanBTC (vanbtc.ca)</option>
            <option>Galactic Milieu (...)</option>
            <option>Mycelial Communications (...)</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="span-4">
    <h2>New Server</h2>
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label">URL:</label>
        <div class="controls">
            <input name="url" size="30" type="text" />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Port:</label>
        <div class="controls">
          <input name="port" size="30" type="text" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-horizontal">Login</div>

<div class="form-actions">
  <button class="btn btn-primary" id="continue">Continue</button>
</div>
