<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <h2>Choose a server</h2>
      <div class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Server:</label>
          <div class="controls">
            <select id="server" name="server">
              <option selected="selected">VanBTC (vanbtc.ca)</option>
              <option>Galactic Milieu (...)</option>
              <option>Mycelial Communications (...)</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="span6">
      <h2>Add New Server</h2>
      <div class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Paste contract: </label>
          <div class="controls">
              <input name="url" size="30" type="text" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Upload contract file: </label>
          <div class="controls">
            <input name="port" size="30" type="text" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div> 
    <button class="btn btn-primary" id="continue">Continue</button>
  </div>

