<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=480, height=752, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Open Transactions</title>
    <link href="img/favicon.ico" rel="shortcut icon" />
    {{#css}}index{{/css}}
    {{#js}}index{{/js}}
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Open Transactions Web</a>
          <div class="nav-collapse collapse">
            <p id="serverinfo" class="navbar-text pull-right"></p>
            <ul class="nav">
              <li><a href="/register">Register</a></li>
              <li><a href="/redeem">Redeem</a></li>
              <li><a href="/deposit">Deposit</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {{>content}}
    <div class="form-actions">
      </div>
    <h4>Advanced Utilities:</h4>
      <ul><a href="register">register - register a new nym onto an Open Transactions server.</a></ul>
      <ul><a href="issueasset">issueasset - issue a currency contract onto an Open Transactions server.</a></ul>
      <ul><a href="newasset">newasset - create a new asset contract.</a></ul>
    <h4>The User Wallet:</h4>
      <ul><a href="showpurse">showpurse - show contents of cash purse.</a></ul>
      <ul><a href="changepw">changepw - change the master passphrase for the wallet.</a></ul>
      <ul><a href="editacct">editacct - edit an asset accounts's label, as it appears in your wallet.</a></ul>
      <ul><a href="editasset">editasset - edit a currency contract's label, as it appears in your wallet.</a></ul>
      <ul><a href="editnym">editnym - edit the nym's label, as it appears in your wallet.</a></ul>
      <ul><a href="editserver">editserver - edit a server contract's label, as it appears in your wallet.</a></ul>
      <ul><a href="exportcert">exportcert - export the OpenSSL cert (only) for a specific Nym.</a></ul>
      <ul><a href="exportnym">exportnym - export an Open Transactions Nym as a single importable file.</a></ul>
      <ul><a href="importcert">importcert - import an OpenSSL cert and create a Nym based on it.</a></ul>
      <ul><a href="importnym">importnym - import an Open Transactions Nym that was previously exported.</a></ul>
      <ul><a href="newnym">newnym - create a new nym.</a></ul>
    <h4>Misc:</h4>
    <h4>Markets (bid/ask):</h4>
    <h4>Asset Accounts:</h4>
      <ul><a href="deposit">deposit - deposit cash, cheque, voucher, or tokens.</a></ul>
      <ul><a href="newacct">newacct - create a new asset account.</a></ul>
      <ul><a href="transfer">transfer - send a transfer from myacct to hisacct.</a></ul>
    <h4>Dealing With Other Users:</h4>
    <h4>Financial Instruments:</h4>
  </body>
</html>
