<div class="container-fluid">
  <h2>Create New Asset Account</h2>

<form action="/newacct" method="post">
  <div class="form-horizontal">
    <div class="control-group">
      <label class="control-label">Choose Nym: </label>
      <div class="controls">
        <select id="mynym" name="mynym" disabled="disabled">
          <option>Loading..</option>
         </select>
      </div>
   </div>
   
   <div class="control-group">
     <label class="control-label">Select Asset: </label>
     <div class="controls">
       <select id="mypurse" name="mypurse">
         <option selected="selected">bitcoin</option>
       </select>
     </div>
   </div>

    <div class="control-group">
      <label class="control-label">New Account Label: </label>
      <div class="controls">
        <input name="label" size="30" type="text" />
      </div>
     </div>
  </div>

  <div>
    <input type="submit" value="Continue" />
  </div>
</form>
