<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=480, height=752, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Bitcoin Payment Calculator</title>
    <link href="img/favicon.ico" rel="shortcut icon" />
    {{#css}}index{{/css}}
  </head>
  <body>
    <div class="container-fluid">
      <h1>Register Nym</h1>
      <br>
      <div class="form-horizontal">
          <div class="control-group">
              <label class="control-label">Username:</label>
              <div class="controls">
                  <input name="username" size="30" type="text" />
              </div>
            </div>

          <div class="control-group">
              <label class="control-label">Password:</label>
              <div class="controls">
                  <input name="password" size="30" type="password" />
              </div>
          </div>

          <div class="control-group">
              <label class="control-label">Confirm Password:</label>
              <div class="controls">
                  <input name="confirm" size="30" type="password" />
              </div>
            
          </div>
          <div class="form-actions">
              <button class="btn btn-primary" id="new-wallet-continue">Continue</button>
          </div>
    </div>
  </body>
</html>
