<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=480, height=752, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Bitcoin Payment Calculator</title>
    <link href="img/favicon.ico" rel="shortcut icon" />
    {{#css}}index{{/css}}
  </head>
  <body>
    <div class="container-fluid">
      <h1>Register Nym</h1>

      <div class="form-horizontal">
          <div class="control-group">
              <label class="control-label">Nym:</label>
              <div class="controls">
                  <input id="alias-value" disabled="disabled" placeholder="18yvg1b29hediub1298dgdv1v7d87" name="alias" size="30" type="text" />
              </div>
            </div>

          <div class="control-group">
              <label class="control-label">Label:</label>
              <div class="controls">
                  <input id="alias-value" name="alias" size="30" type="text" />
              </div>
          </div>

          <div class="form-actions">
              <button class="btn btn-primary" id="new-wallet-continue">Continue</button>
          </div>
    </div>
  </body>
</html>
