<div class="container-fluid">
  <h2>Transfer Funds</h2>

<div class="form-horizontal">

<div class="control-group">
  <label class="control-label">From My Account: </label>
    <div class="controls">
      <select id="showpurse" name="showpurse">
        <option selected="selected">Chewbacca</option>
        <option>Darth Vader</option>
        <option>RJD2</option>
      </select>
    </div>
  </div>

<div class="form-horizontal">

<div class="control-group">
  <label class="control-label">To His Account: </label>
    <div class="controls">
      <select id="showpurse" name="showpurse">
        <option selected="selected">R2D2</option>
        <option>Darth Vader</option>
        <option>Chewbacca</option>
      </select>
    </div>
  </div>

</div>

<div class="control-group">
  <label class="control-label">Enter Amount: </label>
    <div class="controls">
      <input name="amount" size="30" type="text" />
     </div>
  </div>

<div>
  <button class="btn btn-primary" id="new-wallet-continue">Continue</button>
</div>
